.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body  {
  background-color: #282c34;
}
.register__form  {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}
.modal_form_register {
  padding: 10px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inpute_forms {
  margin-bottom: 10px;
}
input {
  width: 270px;
  border-radius: 5px;
  border: none;
  height: 30px;
  background-color: rgb(232, 240, 254);
}

.registere_success  {
  width: 280px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #4393FD;
  text-align: center;
}
.registered {
  color: rgb(255, 253, 251);
}

button  {
  width: 280px;
  border-radius: 10px;
  border: none;
  background-color: #4AA052;
  color: white;
  height: 40px;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}
